<footer class="main-footer">
	<div class="pull-right hidden-xs">
  		<b>Versión</b> 1.0
	</div>
	<strong>2016 <a href="http://samplecleaner.com">Sample Cleaner</a>,</strong> por @angelmunozs.
</footer>
