<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel -->
    <div class="user-panel">
      <div class="pull-left image">
        <img src="/img/users/1.png" class="img-circle" alt="User Image">
      </div>
      <div class="pull-left info">
        <p>Ángel Muñoz</p>
        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
      </div>
    </div>
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">

      <li class="header">WEB</li>

      <li class="treeview">
        <a href="#">
          <i class="fa fa-music"></i> <span>Archivos subidos</span> <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
          <li><a href="#"><i class="fa fa-circle-o"></i> Completados <small class="label pull-right bg-green">9</small></a></li>
          <li><a href="#"><i class="fa fa-circle-o"></i> Erróneos <small class="label pull-right bg-red">1</small></a></li>
        </ul>
      </li>

      <li class="treeview">
        <a href="#">
          <i class="fa fa-envelope-o"></i> <span>Mensajes</span> <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
          <li><a href="#"><i class="fa fa-circle-o"></i> Contacto web <small class="label pull-right bg-aqua">2</small></a></li>
          <li><a href="#"><i class="fa fa-circle-o"></i> Errores <small class="label pull-right bg-orange">1</small></a></li>
        </ul>
      </li>

      <li class="treeview">
        <a href="#">
          <i class="fa fa-book"></i> <span>Plantillas</span>
          <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
          <li><a href="#"><i class="fa fa-edit"></i> Editar</a></li>
          <li><a href="#"><i class="fa fa-plus"></i> Crear</a></li>
        </ul>
      </li>

      <li class="treeview">
        <a href="#">
          <i class="fa fa-user"></i> <span>Usuarios</span>
          <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
          <li><a href="#"><i class="fa fa-edit"></i> Editar</a></li>
          <li><a href="#"><i class="fa fa-plus"></i> Crear</a></li>
        </ul>
      </li>

      <li class="header">SMTP</li>

      <li>
        <a href="#">
          <i class="fa fa-send"></i> <span>Correo masivo</span>
        </a>
      </li>

    </ul>

  </section>
  <!-- /.sidebar -->
</aside>
