<%
var uploadsComplete = path.indexOf('/admin/uploads/complete') != -1
var uploadsIncomplete = path.indexOf('/admin/uploads/incomplete') != -1
var contactWeb = path.indexOf('/admin/contact/web') != -1
var contactUploads = path.indexOf('/admin/contact/uploads') != -1
var templatesEdit = path.indexOf('/admin/templates/edit') != -1
var templatesAdd = path.indexOf('/admin/templates/add') != -1
var usersEdit = path.indexOf('/admin/users/edit') != -1
var usersAdd = path.indexOf('/admin/users/add') != -1
var mailSend = path.indexOf('/admin/mail/send') != -1

var uploads = uploadsComplete || uploadsIncomplete
var contact = contactWeb || contactUploads
var templates = templatesEdit || templatesAdd
var users = usersEdit || usersAdd
%>

<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel -->
    <div class="user-panel">
      <div class="pull-left image">
        <img src="/img/users/<%= user.id %>.png" class="img-circle" alt="User Image">
      </div>
      <div class="pull-left info">
        <p><%= user.name %></p>
        <a href="/admin"><i class="fa fa-circle text-success"></i> Online</a>
      </div>
    </div>
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">

      <li class="header">WEB</li>

      <li class="treeview <% if(uploads) { %>active<% } %>">
        <a href="#">
          <i class="fa fa-music"></i> <span>Archivos subidos</span> <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
          <li <% if(uploadsComplete) { %>class="active"<% } %>><a href="/admin/uploads/complete/5/0"><i class="fa fa-circle-o"></i> Completados</a></li>
          <li <% if(uploadsIncomplete) { %>class="active"<% } %>><a href="/admin/uploads/incomplete/5/0"><i class="fa fa-circle-o"></i> Erróneos</a></li>
        </ul>
      </li>

      <li class="treeview <% if(contact) { %>active<% } %>">
        <a href="#">
          <i class="fa fa-envelope-o"></i> <span>Mensajes</span> <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
          <li <% if(contactWeb) { %>class="active"<% } %>><a href="/admin/contact/web"><i class="fa fa-circle-o"></i> Contacto web <small class="label pull-right bg-aqua">2</small></a></li>
          <li <% if(contactUploads) { %>class="active"<% } %>><a href="/admin/contact/uploads"><i class="fa fa-circle-o"></i> Errores <small class="label pull-right bg-orange">1</small></a></li>
        </ul>
      </li>

      <li class="treeview <% if(templates) { %>active<% } %>">
        <a href="#">
          <i class="fa fa-book"></i> <span>Plantillas</span>
          <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
          <li <% if(templatesEdit) { %>class="active"<% } %>><a href="/admin/templates/edit"><i class="fa fa-edit"></i> Editar</a></li>
          <li <% if(templatesAdd) { %>class="active"<% } %>><a href="/admin/templates/add"><i class="fa fa-plus"></i> Crear</a></li>
        </ul>
      </li>

      <li class="treeview <% if(users) { %>active<% } %>">
        <a href="#">
          <i class="fa fa-user"></i> <span>Usuarios</span>
          <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
          <li <% if(usersEdit) { %>class="active"<% } %>><a href="/admin/users/edit"><i class="fa fa-edit"></i> Editar</a></li>
          <li <% if(usersAdd) { %>class="active"<% } %>><a href="/admin/users/add"><i class="fa fa-plus"></i> Crear</a></li>
        </ul>
      </li>

      <li class="header">SMTP</li>

      <li <% if(mailSend) { %>class="active"<% } %>>
        <a href="/admin/mail/send">
          <i class="fa fa-send"></i> <span>Correo masivo</span>
        </a>
      </li>

    </ul>

  </section>
  <!-- /.sidebar -->
</aside>
