<div id="section-cleaner" class="section col-xs-12">
	<div class="row">
		<h2>
			Clean your recordings!
		</h2>
		<h4>
			Sample Cleaner has been designed to clean the background noise from sound recordings of your vinyl discs and cassettes.
		</h4>
		<!-- Step titles -->
		<div class="col-xs-12">
			<div class="col-xs-3 step-box">
				<h4 class="active">
					<b class="step-number">1</b>
					Upload your sound.
				</h4>
			</div>
			<div class="col-xs-3 step-box">
				<h4>
					<b class="step-number">2</b>
					Select the kind of noise.
				</h4>
			</div>
			<div class="col-xs-3 step-box">
				<h4>
					<b class="step-number">3</b>
					Wait for the application to clean it.
				</h4>
			</div>
			<div class="col-xs-3 step-box">
				<h4>
					<b class="step-number">4</b>
					Download and save the file.
				</h4>
			</div>
		</div>
		<!-- Step box -->
		<div class="step col-xs-12">
			<div id="step1">
				<i class="fa fa-plus fa-4x"></i><br>
				Drag file here, or
				<div class="file-upload btn btn-upload">
					<span>Select file</span>
					<input id="dirty" name="dirty" type="file">
				</div>
				<div id="file-name"></div>
			</div>
			<div id="step2" class="hidden">
				
			</div>
			<div id="step3" class="hidden">
				
			</div>
			<div id="step4" class="hidden">
				
			</div>
		</div>
	</div>
</div>