<div id="section-contact" class="section col-xs-12">
	<div class="row">
		<h2>
			Contact us
		</h2>

		<div class="form">

			<h4>Tell us about anything you need to know.</h4>

			<textarea id="contact-message" placeholder="Write your message here"></textarea>

			<h4>Your e-mail, so that we can answer you.</h4>

			<input id="contact-email" type="text" maxlength="512" placeholder="Type your e-mail here">

			<div class="form-end col-xs-12">
				<div class="col-xs-12 col-sm-1" style="padding: 0px">
					<button id="contact-button" type="button" class="btn btn-send">Send</button>
				</div>
				<div id="error-msg" class="col-xs-12 col-sm-5">
					
				</div>
				<div class="nota-legal col-xs-12 col-sm-6">
					Your message will be delivered to our inbox, and we will answer you personally.<br>
					You will not receive any publicity unless you enter your email on the section below.
				</div>
			</div>
		</div>

	</div>
</div>