<div class="section col-xs-12">
	<div class="row">
		<h2>
			How it works
		</h2>

		<h4>Sample Cleaner uses a technique called <a href="https://en.wikipedia.org/wiki/Noise_gate" target="_blank">spectral noise gating</a>.</h4>

		<p>The audio signal you upload to the server (1) is windowed and each window is processed individually (2). For each windowed sample, we take the FFT of size 2048, so 1025 frequency bands are analyzed, and then the mean power of each band is calculated (3). Every frequency band is compared to the same frequency band of the noise you selected (which has been previously analyzed, and its statistics are stored in the server). The next step is spectral noise gating.</p>

		<p>Frequency smoothing is then applied, and the windowed signal is reconstructed by taking the inverse FFT. When all the windowed samples have been processed, the audio signal is pieced together and time smoothing is applied (4).</p>
	</div>

	<div class="row">
		<div class="col-xs-3 work-step">
			<div class="work-step-img">(1)</div>
		</div>
		<div class="col-xs-3 work-step">
			<div class="work-step-img">(2)</div>
		</div>
		<div class="col-xs-3 work-step">
			<div class="work-step-img">(3)</div>
		</div>
		<div class="col-xs-3 work-step">
			<div class="work-step-img">(4)</div>
		</div>
	</div>
</div>