<div id="section-howitworks" class="section col-xs-12">
	<div class="row">
		<h2>
			How it works
		</h2>

		<h4>Sample Cleaner uses a technique called <a href="https://en.wikipedia.org/wiki/Noise_gate" target="_blank">spectral noise gating</a>.</h4>

		<p>The audio signal you upload to the server [1] is windowed and each window is processed individually [2]. For each windowed sample, we take the FFT of size 2048 [3], and then the mean power of each band is calculated. Every frequency band is compared to the same frequency band of the noise you selected (whose statistics are stored in the server), and the noise gate is applied.</p>

		<p>When all the windowed samples have been processed and taken their inverse FFT, the audio signal is pieced together using overlap/add method of 50% the window size [4]. Sample Cleaner uses a <a href="https://en.wikipedia.org/wiki/Hann_function" target="_blank">Hann window</a> of size 2048, the same as the FFT size.</p>

	</div>

	<div class="row">
		<div class="col-xs-3 work-step">
			<div class="work-step-index">(1)</div>
			<img src="/img/step1.png" class="work-step-img" alt="vinyl sample">
		</div>
		<div class="col-xs-3 work-step">
			<div class="work-step-index">(2)</div>
			<img src="/img/step2.png" class="work-step-img" alt="clean audio">
		</div>
		<div class="col-xs-3 work-step">
			<div class="work-step-index">(3)</div>
			<img src="/img/step3.png" class="work-step-img" alt="clean noise">
		</div>
		<div class="col-xs-3 work-step">
			<div class="work-step-index">(4)</div>
			<img src="/img/step4.png" class="work-step-img" alt="clean vinyl">
		</div>
	</div>
</div>