<div id="cookie-message" class="col-xs-12">
	<div class="row">
		This website uses cookies to improve your browsing experience. If you continue browsing, we assume that you agree to their use. <a data-toggle="modal" data-target="#cookie-policy">More information</a>
		<i id="accept-cookies-i" class="fa fa-times pull-right accept-cookies"></i>
	</div>
</div>
