<footer>
	<div class="row">
		<div class="col-xs-12 col-sm-6 footer-col-1">
			<img src="img/logo1a.small.png" alt="Sample Cleaner"><br>
			<p>By <a href="https://github.com/angelmunozs/" target="_blank">@angelmunozs</a></p>
		</div>	
		<div class="col-xs-12 col-sm-6 footer-col-2">
			<p>Join our mailing list to keep informed<br>of new versions and new features</p>
			<div id="list-form">
				<span id="status-icon"></span>
				<input id="list-email" type="text" maxlength="512" placeholder="Your e-mail here">
				<button id="list-button" type="button" class="btn btn-list"><i class="fa fa-paper-plane"></i></button>
			</div>
		</div>	
	</div>
</footer>