<!DOCTYPE html>
<html>
    <head>
        <!-- Metas -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Sample cleaner">
        <meta name="keywords" content="clean vinyl, clean cassette, clean samples online, sample cleaner, vinyl noise, cassette noise, noise reduction, noise removal">
        <meta name="author" content="Ángel Muñoz Sagaseta de Ylurdoz, @angelmunozs">

        <!-- Title -->
        <title>
            <%= base_title %> | <%= page_title %>
        </title>

        <!-- Favicon -->
        <link rel="shortcut icon" href="/disc.ico" />

        <!-- Google fonts -->
        <link href='https://fonts.googleapis.com/css?family=Marvel:400,700|Homenaje' rel='stylesheet' type='text/css'>
        <!-- Own CSS -->
        <link rel='stylesheet' href='/css/layout-misc.css'/>

        <!-- jQuery -->
        <script type="text/javascript" src="/components/jquery/dist/jquery.min.js"></script>
        <!-- Own Javascript -->
        <script type="text/javascript" src="/js/layout-misc.js"></script>
    </head>

    <body>

        <div class="container-fluid">

            <%- body %>

        </div>

    </body>
</html>