<!DOCTYPE html>
<html>
    <head>
        <!-- Metas -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Sample cleaner">
        <meta name="keywords" content="clean vinyl, clean cassette, clean samples online, sample cleaner, vinyl noise, cassette noise, noise reduction, noise removal">
        <meta name="author" content="Ángel Muñoz Sagaseta de Ylurdoz, @angelmunozs">

        <!-- Title -->
        <title>
            <%= base_title %> | <%= page_title %>
        </title>

        <!-- Favicon -->
        <link rel="shortcut icon" href="/disc.ico" />

        <!-- Tell the browser to be responsive to screen width -->
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <!-- Bootstrap 3.3.6 -->
        <link rel="stylesheet" href="/components/AdminLTE/bootstrap/css/bootstrap.min.css">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
        <!-- Ionicons -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
        <!-- Theme style -->
        <link rel="stylesheet" href="/components/AdminLTE/dist/css/AdminLTE.min.css">
        <!-- iCheck -->
        <link rel="stylesheet" href="/components/AdminLTE/plugins/iCheck/square/blue.css">

        <!-- jQuery 2.2.0 -->
        <script src="/components/AdminLTE/plugins/jQuery/jQuery-2.2.0.min.js"></script>
        <!-- Bootstrap 3.3.6 -->
        <script src="/components/AdminLTE/bootstrap/js/bootstrap.min.js"></script>
        <!-- iCheck -->
        <script src="/components/AdminLTE/plugins/iCheck/icheck.min.js"></script>
        <!-- CryptoJS -->
        <script src="/components/crypto-js/crypto-js.js"></script>
        <script src="/components/crypto-js/sha512.js"></script>
        <!-- Own JavaScript -->
        <script src="/js/layout-auth.js"></script>

    </head>

    <body class="hold-transition login-page">

        <div class="container-fluid">

            <%- body %>

        </div>

    </body>
</html>