<!-- Nav -->
<div id="nav">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav" aria-expanded="false">
                    <span class="sr-only">Menú desplegable</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="" class="navbar-brand">
                    <img src="/img/logo1a.small.png">
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="main-nav">
                <ul class="nav navbar-nav">
                    <li id="section-cleaner-li">
                        <a class="menu-link" id="section-cleaner-link" href="#section-cleaner">Clean your sample <span class="sr-only">(actual)</span></a>
                    </li>
                    <li id="section-howitworks-li">
                        <a class="menu-link" id="section-howitworks-link" href="#section-howitworks">How it works</a>
                    </li>
                    <li id="section-contact-li">
                        <a class="menu-link" id="section-contact-link" href="#section-contact">Contact</a>
                    </li>
                    <li id="section-faq-li">
                        <a class="menu-link" id="section-faq-link" href="#section-faq">FAQ</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav pull-right hidden-xs navbar-social-networks">
                    <li id="facebook-li">
                        <a id="facebook-link" href="https://www.facebook.com/" target="_blank" class="social-network"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li id="twitter-li">
                        <a id="twitter-link" href="https://twitter.com/" target="_blank" class="social-network"><i class="fa fa-twitter"></i></a>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div>

<!-- Cheat for fixed positioning -->
<div style="height: 56px"></div>