<!-- Nav -->
<div id="nav">
    <nav class="navbar navbar-default">
        <div class="container-fluid">

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="navbar-header">
                <a href="" class="navbar-brand">
                    <img src="/img/logo1a.small.png">
                </a>
                <ul class="nav navbar-nav">
                    <li id="section-cleaner-li">
                        <a class="menu-link" id="section-cleaner-link" href="#section-cleaner">Clean your sample <span class="sr-only">(actual)</span></a>
                    </li>
                    <li id="section-howitworks-li">
                        <a class="menu-link" id="section-howitworks-link" href="#section-howitworks">How it works</a>
                    </li>
                    <li id="section-contact-li">
                        <a class="menu-link" id="section-contact-link" href="#section-contact">Contact</a>
                    </li>
                    <!-- <li id="section-faq-li">
                        <a class="menu-link" id="section-faq-link" href="#section-faq">FAQ</a>
                    </li> -->
                    <li id="section-howtouse-li">
                        <a class="modal-video-link" id="section-howtouse-link" href="#" data-toggle="modal" data-target="#modal-video" title="How to use" data-src="https://www.youtube.com/embed/64mqpFdPow4">How to use<span class="new">NEW</span></a>
                    </li>
                </ul>
                <ul class="nav navbar-nav pull-right navbar-social-networks">
                    <li id="facebook-li">
                        <a id="facebook-link" href="https://www.facebook.com/samplecleaner" target="_blank" class="social-network"><i class="fa fa-facebook"></i></a>
                    </li>
                    <!--<li id="twitter-li">
                        <a id="twitter-link" href="https://twitter.com/" target="_blank" class="social-network"><i class="fa fa-twitter"></i></a>
                    </li>-->
                    <li id="youtube-li">
                        <a id="youtube-link" href="https://www.youtube.com/channel/UC7dNL4GMnczQ-Gd7mwpJHzA" target="_blank" class="social-network"><i class="fa fa-youtube"></i></a>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div>

<!-- Cheat for fixed positioning -->
<div style="height: 56px"></div>
