<!-- Bad result -->
<div id="bad-result" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				 <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times"></i></button>
				 <h2>Please, tell us what happened</h2>
			</div>
			<div class="modal-body">
				<h4>Why aren't you happy with the result?</h4>
				<div class="form">
					<textarea id="modal-message"></textarea>
				</div>
				<div class="form-end">
					<button id="modal-button" type="button" class="btn btn-send" disabled="disabled">Send</button>
					<span id="error-modal"></span>
				</div>
				<hr>
				<p>Are you sure that you selected the correct kind of noise?</p>
				<p>If so, please, collaborate on telling us why you didn't like the result, so we can examine the file individually and correct the mistakes for future versions.</p>
				<p>Sample Cleaner is always working on new features to improve the noise cleaning of your sounds</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>	
<!-- Cookies -->
<div id="cookie-policy" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				 <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times"></i></button>
				 <h2>Cookie Policy</h2>
			</div>

			<div class="modal-body">

				<div class="info-block">
					<h4 class="info-header">
						<i class="fa fa-info-circle"></i>&nbsp;
						<strong>What are the cookies?</strong>
					</h4>

					<div class="info-info">
						<p>
							A cookie is any type of file that is downloaded in any user device in order to store, retrieve and/or update data. Like most websites, we use cookies to:
						</p>

						<ul class="small-letter">
							<li>
								Ensure that the website can work correctly.
							</li>
							<li>
								Store your preferences, such as language or your preferred font size.
							</li>
							<li>
								Compile anonymous statistical information, such as the sections you visited or how long you've been surfing our web.
							</li>
						</ul>

						<p>
							Cookies are only associated with an anonymous user and the personal computer/device, and do not provide any reference that reveal personal data. At any time you can access the settings of your browser to change and/or block the cookies, without affecting the access to the web contents. However, the quality and performance of the services may be affected.
						</p>
					</div>
				</div>
				<div class="info-block">
					<h4 class="info-header">
						<i class="fa fa-info-circle"></i>&nbsp;
						<strong>Type of cookies:</strong>
					</h4>

					<div class="info-info">
						<h5>Depending on its duration</h5>

						<table class="table table-condensed">
							<tbody><tr>
								<td class="no-border"><strong>Session cookies</strong></td>
								<td class="no-border">They expire when the user leaves the webpage or closes the browser. That means that they are active only for the duration of the visit to the site and are deleted from the browser when the user quits it.</td>
							</tr>
							<tr>
								<td><strong>Permanent cookies</strong></td>
								<td>They expire when the purpose for which they serve finish, or when they are manually deleted. All of them have a date default deletion.</td>
							</tr>
						</tbody></table>

						<h5>Depending on the owner</h5>

						<table class="table table-condensed">
							<tbody><tr>
								<td class="no-border"><strong>Own cookies</strong></td>
								<td class="no-border">They are sent to the user's computer from a computer or web domain managed by the editor himself, and from where the service requested by the user is provided.</td>
							</tr>
							<tr>
								<td><strong>Third party cookies</strong></td>
								<td>They are sent to the user's computer or device from a computer or web domain that is not managed by the editor, but by another entity that treats information obtained through the cookies.</td>
							</tr>
						</tbody></table>

						<h5>Depending on their purpose</h5>
							
						<div class="small-letter">Analysis' cookies, advertising cookies, corporative advertising cookies, technical cookies, personalisation cookies...</div>
					</div>

				</div>
				<div class="info-block">
					<h4 class="info-header">
						<i class="fa fa-info-circle"></i>&nbsp;
						<strong>What cookies do we use?</strong>
					</h4>

					<div class="info-info">
						<table class="table table-condensed">
							<tbody><tr>
								<th style="border-top: none;" width="15%">Name</th>
								<th style="border-top: none;" width="30%">Aim</th>
								<th style="border-top: none;">Description</th>
							</tr>
							<tr>
								<td><samp>_ga</samp>, <samp>_gat</samp></td>
								<td>Google Analytics</td>
								<td>Used to distinguish users. <a href="https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage?hl=es#analyticsjs" target="_blank">Learn more</a></td>
							</tr>
						</tbody></table>
					</div>

				</div>
				<div class="info-block">
					<h4 class="info-header">
						<i class="fa fa-info-circle"></i>&nbsp;
						<strong>How can I delete cookies from my browser?</strong>
					</h4>

					<div class="info-info">
						<table class="table table-condensed">
							<tbody><tr>
								<th class="no-border">Browser</th>
								<th class="no-border">Instructions</th>
							</tr>
							<tr>
								<td>Internet Explorer</td>
								<td>Tools <i class="fa fa-play"></i> Internet Options <i class="fa fa-play"></i> Privacy <i class="fa fa-play"></i> Configuration</td>
							</tr>
							<tr>
								<td>Chrome</td>
								<td>Tools <i class="fa fa-play"></i> Options <i class="fa fa-play"></i> Privacy <i class="fa fa-play"></i> History <i class="fa fa-play"></i> Custom Setup</td>
							</tr>
							<tr>
								<td>Firefox</td>
								<td>Options <i class="fa fa-play"></i> Privacy <i class="fa fa-play"></i> Delete cookies individually</td>
							</tr>
							<tr>
								<td>Safari</td>
								<td>Settings <i class="fa fa-play"></i> Security</td>
							</tr>
						</tbody></table>
					</div>
				</div>
				<div class="info-block" style="text-align: center;">
					<button id="accept-cookies-button" type="button" data-dismiss="modal" class="btn btn-send accept-cookies">Accept</button>
				</div>

			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>	
