body {
  font: 17px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-family: 'Marvel', sans-serif;
  font-weight: 400;
}

a {
  color: #00B7FF;
}
.container-fluid {
	padding-left: 0px;
	padding-right: 0px;
}
/* Navbar */
#nav {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
}
#nav nav.navbar-default {
	background-color: #262626;
	padding-left: 15px;
	padding-right: 15px;
}
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
	margin-left: 0;
}
#nav nav.navbar {
	border-radius: 0px;
	border: none;
	margin: 0;
}
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	-webkit-transition: color 200ms;
	-moz-transition: color 200ms;
	-o-transition: color 200ms;
	-ms-transition: color 200ms;   
	transition: color 200ms;
	background: #262626;
	color: #bbb;
}
.navbar-default .navbar-nav > li > a {
	-webkit-transition: all 200ms ease-out;
	-moz-transition: all 200ms ease-out;
	-o-transition: all 200ms ease-out;
	-ms-transition: all 200ms ease-out;   
	transition: all 200ms ease-out;
	text-transform: uppercase;
	font-weight: 700;
}
.navbar-nav > li > a {
	padding: 18px 16px 18px 16px;
}
.navbar-default a.navbar-brand img {
	max-height: 100%;
}
.navbar-default a.navbar-brand {
	width: 220px;
	height: 56px;
}
.navbar-default .navbar-brand {
	padding: 13px;
}
.navbar-default .navbar-toggle {
	margin-top: 12px;
	margin-bottom: 12px;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background: #313131;
}
.navbar-default .navbar-toggle {
	border: none;
}
.navbar-default .navbar-nav > li > a.social-network {
	color: #ddd;
	font-size: 23px;
	padding: 15px 12px 15px 12px;
}
.navbar-default .navbar-nav > li > a.social-network:focus, .navbar-default .navbar-nav > li > a.social-network:hover {
	font-size: 23px;
}
#facebook-link:focus, #facebook-link:hover {
	color: #3b5998;
}
#twitter-link:focus, #twitter-link:hover {
	color: #00aced;
}
.navbar-social-networks {
	margin-right: -15px;
}
/* Footer */
.footer {
	min-height: 200px;
	background: #333;
}
/* All sections */
.section {
	width: 100%;
	z-index: -1;
	padding: 40px 15px 40px 15px;
}
.row {
	max-width: 1170px;
	margin: 0px auto;
}
.section:nth-child(3) {
	background: #eee;
}
h2 {
	margin-top: 0px;
	color: #ff3337;
}
.hidden {
	display: none;
}
/* 	Section 0: Intro */
@keyframes animatedBackground {
	from {
		background-position: 100% 0;
	}
	to {
		background-position: 0 0;
	}
}
.intro {
	height: 140px;
	background-image: url(../img/signal.small.gray.png);
	background-position: 0px 0px;
	background-repeat: repeat-x;
	padding: 15px 0px 15px 0px;
	animation: animatedBackground 100s linear infinite;
}
/* 	Section 1: Clean your recording */
.step-box {
	margin: 0;
	padding: 0;
}
b.step-number {
	font-size: 2em;
	margin-right: 6px;
}
.step-box h4 {
	color: #bbb;
	font-size: 18px;
}
.step-box h4.active {
	color: #333;
	font-size: 18px;
}
.step {
	margin-top: 10px;
	width: 100%;
	min-height: 300px;
}
#step1 {
	border: 3px dotted #ddd;
	color: #999;
	font-size: 20px;
	text-align: center;
	border-radius: 6px;
	height: 300px;
	padding-top: 80px;
}
/* Section 2: how it works */
.work-step {
	margin-top: 10px;
	padding: 0px 20px 0px 0px;
}
.work-step-img {
	padding: 10px;
	height: 200px;
	background: #ccc;
}