<div class="center-page">
	<div class="logo">
		<img src="/img/logo1.small.png">
	</div>
	<% if(error) { %>
		<div>
			<%= error.message %>
		</div>
	<% } else { %>
		<div>
			You will not receive more e-mails from us.
		</div>
		<div>
			Thank you for using Sample cleaner!
		</div>
	<% } %>
	<div class="bottom-link">
		<a href="/">
			Go to samplecleaner.com
		</a>
	</div>
</div>